@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* margin-top: 20px; */
    /* position: fixed; */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: none;
    margin: 10px 0 10px 0;
    position: relative;
}

nav span {
    font-size: 30px;
    color: #352F44;
    cursor: pointer;
    margin-top: 10px;
}

nav ul {
    display: flex;
    margin-top: 10px;
}

nav ul li {
    margin-left: 100px;
    list-style: none;
    font-size: 24px;
}

nav ul li a {
    text-decoration: none;
    color: #003049;
}

nav ul li a::after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: #191D88;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

nav ul li a:hover:after {
    transform: scaleX(1);
}

a.call-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BA704F;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
}

i.call {
    color: white;
    font-size: 20px;
}

a.call-btn::after,
a.call-btn:before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: #BA704F;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    opacity: 0.7;
}

a.call-btn::before {
    animation: anime 2s ease-out infinite;
}

a.call-btn::after {
    animation: anime 2s 1s ease-out infinite;
}

@keyframes anime {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #CEE6F3;
}

.content {
    display: flex;
}

.content1 {
    margin-top: 50px;
    margin-right: 80px;
    justify-content: center;
    align-items: center;
}

.content1 h1 {
    color: #191D88;
    font-size: 35px;
}

.content1 h1 span {
    color: #BA704F;
}

.content1 button {
    padding: 15px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #c5c5c5;
    cursor: pointer;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.content1 button::before {
    content: "";
    width: 0;
    height: 50px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s ease;
    display: block;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    z-index: -1;
}

.content1 button:hover::before {
    width: 200px;
}

.content1 h2 {
    color: #191D88;
    font-size: 30px;
}

.content2 {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
}

.content2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list div {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    transform: translateY(11px);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.list div span {
    font-size: 18px;
}

.list:hover div {
    transform: translateY(-11px);
}

.socials {
    display: flex;
    margin-top: 40px;
}

.socials .list {
    list-style: none;
    margin: 0 50px 0 0;
}

.list i {
    opacity: 1;
    transition: opacity 0.3s ease;
    color: #191D88;
}

.list:hover i {
    opacity: 0;
    color: #191D88;
}

.list span {
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #191D88;
}

.list:hover span {
    opacity: 1;
    color: #191D88;
}

.about-content h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    color: #191D88;
}

.about-content p {
    margin-top: 20px;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    color: #183D3D;
    margin-bottom: 20px;
}

.containerr {
    display: flex;
    flex-direction: row;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.books-content {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin: 50px 0 0 20px;
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

.books-content img {
    height: 100%;
    width: 100%;
}

.textcontent {
    height: 200px;
    position: absolute;
    z-index: 10;
    bottom: -100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.705);
    transition: .5s;
    text-align: center;
}

.textcontent .title {
    margin-top: 50px;
    font-size: 20px;
}

.books-content:hover .textcontent {
    bottom: 0;
}

.infoo {
    text-align: center;
}

.infoo button {
    padding: 10px;
    width: 150px;
    margin-top: 30px;
    font-size: 13px;
    border-radius: 20px;
    border: none;
    background-color: #003049;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #c5c5c5;
    color: white;
    font-family: inherit;
    cursor: pointer;
}

.infoo .add-to-cart-btn {
    background-color: #BA704F;
}

.books-info-row-1 {
    display: flex;
    justify-content: space-around;
}

.books-info-row-2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.books-info {
    background-color: #CEE6F3;
}

.books-info h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    color: #191D88;
}